
	    body{
	      background:	#222222;
	    }

			.imgt{
				display: block;
			  margin-left: auto;
			  margin-right: auto;
				width: 100%;
			}


	    .row.content {height: 450px}

	    .sidenav {
	      padding-top: 20px;
	      background-color: #ffed00;
	      height: 100%;
	    }

	    footer {
	      background-color: #555;
	      color: white;
	      padding: 15px;
	    }

	    #lgn{
	      background-color:#fff;
	      color:#222222;
	      border:0;
	      font-family: 'Rubik', sans-serif;
	    }

	    #footer {
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    height: 50px;
	    background: #222222;
	}

	      .title3{
	        padding-top: 15px;
	        text-align: center;
	        font-size: 15px;
	        font-family: 'Rubik', sans-serif;
	        color:#84D9E5;
	      }


		   .container{
				display: flex;
				flex-direction: column;
				align-items: center;
				background: #141414;
	      border:1px solid #7FE5F0;
				margin-top: 10px;
				margin-bottom: 10px;
	      padding:40px;
	      width:70%;
	    }

			.searchbar{
			 background: #141414;
			 border:1px solid #7FE5F0;
			 width: 70%;
			 margin:22px auto;
			 display: table;
		 }

			.searchbar2{
			 background: #141414;
			 text-align: center;
			 width: 50%;
			 margin:15px auto ;
			 display: table;
		 }


			.container2{
			 background: #141414;
			 border:1px solid #b02727;
			 margin-top: 10px;
			 margin-bottom: 10px;
			 padding:40px;
			 width:80%;
		 }

			.containerLR{
				align-self: center;
				align-items: center;
	      background: #222222;
	      border:1px solid black;
				margin-top: 10px;
				margin-bottom: 10px;
	      padding:40px;
	      width:80%;
	    }

	    .formgroup{
	      display: flex;
	      flex-direction: column;
	      align-items: center;
	    }



	    .title{
	      text-align: center;
	      font-size: 40px;
	      font-family: 'Rubik', sans-serif;
	      color:#84D9E5;


	    }

	    .title2{
	      text-align: center;
	      font-size: 30px;
	      font-family: 'Rubik', sans-serif;
	      color:#fff;

	    }
			.title3{
				margin-bottom: 1px;
				text-align: left;
	      font-size: 30px;
	      font-family: 'Rubik', sans-serif;
	      color:#fff;

	    }

			.searchbar{
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}



	    .formgroup label{
	      color:#fff;
	    }

	    hr{
	      border: 1px solid ;
	      color:#fff;
	    }

	    .topnav {
	      background-color: #141414;
	      font-family: 'Rubik', sans-serif;
	      overflow: hidden;
	    }

			.posttitle{
				font-size: 30px;
				font-family: 'Rubik', sans-serif;
				color:#7FE5F0;
			}

			.cmcontent{
				font-size: 25px;
				font-family: 'Rubik', sans-serif;
				color:#7FE5F0;
			}

			.postcontent{
				font-size: 18px;
				font-family: 'Rubik', sans-serif;
				color:#fff;
			}

			.cmname{
				text-transform: uppercase;
				font-size: 18px;
				font-family: 'Rubik', sans-serif;
				color:#fff;
			}

			.active{
				background-color: #84D9E5;
				color: #191919;
			}

	    .topnav a {
	      float: right;
	      color: #fff;
	      text-align: center;
	      padding: 14px 16px;
	      text-decoration: none;
	      font-size: 17px;
	    }

	    .topnav a:hover {
				background-color: #84D9E5;
			  color: #191919;
	    }

	    .error{
	      text-align: center;
	      font-size: 15px;
	      font-family: 'Rubik', sans-serif;
	      color:#990012;
	    }

			.success{
	      text-align: center;
	      font-size: 25px;
	      font-family: 'Rubik', sans-serif;
				margin-top: 10px;
	      color:#8dc5a4;
	    }


			.master-container{
				display: flex;
				flex-direction: column;
			}

			.contentField{
				overflow-y: scroll;
        height: 250px;
        width: 900 px;
      }

			textarea {
				width: 800px;
  			resize: none;
			}

			#title{
				width: 800px;
			  border: 1px solid #84D9E5;
			  background:#222222;
			  color:#fff
			}



			#att{
				width: 800px;
			  border: 1px solid #b02727;
			  background:#222222;
			  color:#fff
			}

			#textarea{
			  border: 1px solid #84D9E5;
			  background:#222222;
			  color:#fff;
			}

			#lgn{
			  background-color:#84D9E5;
			  color:#191919;
			  border:0;
			  font-weight: bold;
			  font-family: 'Rubik', sans-serif;

			}

			#lgn:hover{
			  background-color:#fff;
			  color:#191919;
			  border:0;
			  font-weight: bold;
			  font-family: 'Rubik', sans-serif;

			}

			.btnLike{
				width: 100%;
				padding: 5px;
				background-color:#84D9E5;
			  color:#191919;
			  border:0;
			  font-weight: bold;
			  font-family: 'Rubik', sans-serif;
			}

			.likes{
				width: 100%;
				padding: 5px;
				background-color: black;
				color: #b02727;
				border: 2px solid #b02727;
			}


	@media screen and (max-width: 800px) {
	      .container {
	        padding:10px;
	        width:80%;
					height: 580px;
					overflow-y: scroll;
	      }


				.posttitle{
					font-size: 22px;
				}

	      .title{
	        font-size: 15px;

	      }

				#title{
					width: 180px;
				}

	      .title2{
	        font-size: 15px;

	      }

	      .title3{
	        padding-top: 18px;
	        font-size: 10px;
	      }

	      .topnav {
	        padding-left: : 10%;
	      }

				.topnav a {
					 font-size: 12px;
				}
				.topnav-right{
					position:relative;

				}

				.searchbar{
					width: 80%;
				}

	    }
